@model HospitalApplication.Models.ProcedureDto


@{
    ViewBag.Title = "Details";
}

<h2>Procedure Details</h2>

<div>
    <a href="/Procedure/List">Return to Procedure List</a>
    <br />
    <a href="/Procedure/Edit/@Model.ProcedureId">Update Procedure Details</a>
    <br />
    <a style="color:red;" href="/Procedure/DeleteConfirm/@Model.ProcedureId">Delete Procedure</a>
</div>

<h1> @Model.ProcedureName</h1>

<p><strong>Doctor:</strong> @Model.DoctorFirstName @Model.DoctorLastName</p>
<p><strong>Patient:</strong> @Model.PatientFirstName @Model.PatientLastName </p>
<p><strong>Room Number:</strong> @Model.RoomNumber </p>
<p><strong>Duration:</strong> @Model.Duration minutes </p>
<p><strong>Time:</strong> @Model.Time.ToString("t") </p>
<p><strong>Date:</strong> @Model.Date.ToString("dddd, dd MMMM yyyy") </p>


