@model HospitalApplication.Models.ViewModels.NewProcedure

@{
    ViewBag.Title = "New";
}

<a href="/Procedure/List">Return to Procedure List</a>
<h2>Create New Procedure</h2>
<form action="/Procedure/Create" method="POST">
    <div>
        <label>Procedure Name:</label>
        <input type="text" name="ProcedureName" />
    </div>
    <div>
        <label>Doctor:</label>
        <select name="ProcedureDoctor">
            @foreach (var doctor in Model.DoctorOptions)
            {
                <option value="@doctor.DoctorId">Dr. @doctor.DoctorFirstName  @doctor.DoctorLastName</option>
            }
        </select>
    </div>
    <div>
        <label>Patient:</label>
        <select name="ProcedurePatient">
            @foreach (var patient in Model.PatientOptions)
            {
                <option value="@patient.PatientId"> @patient.PatientFirstName  @patient.PatientLastName</option>
            }
        </select>
    </div>
    <div>
        <label>Duration:</label>
        <input type="number" name="Duration" />
    </div>
    <div>
        <label>Room:</label>
        <select name="ProcedureRoom">
            @foreach (var room in Model.RoomOptions)
            {
                <option value="@room.RoomId">Room @room.RoomNumber - @room.RoomPurpose</option>
            }
        </select>
    </div>
    <div>
        <label>Date:</label>
        <input type="date" name="Date" />
    </div>
    <div>
        <label>Time:</label>
        <input type="time" name="Time" />
    </div>
    <div id="submit-container">
        <input type="submit" value="Add Procedure" />
    </div>

</form>


